ON
.DS_Store
*.db
*.db/
*.txt
*.pid
*.log
.csos-ca/

bin/
doc/
cs-server
apischema
!cmd/*
hack/images/
vendor/
kubeconfig

certs/

.Version
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vscode

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

client/.eslintcache
client/.cache
client/build

# Test Results and Output
client/cypress/results
client/cypress/fixtures/

resources/*
.helm/

# vim swap files
.*.sw*
node_modules
.vagrant
Vagrantfile
