article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not([controls]) {
	display: none
}

html,body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: 1;
	font-family: inherit
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
  margin: 0;
  overflow: unset!important;
  padding: 0!important;
}

body.main {
  font-size: 16px;
  color: #282828;
  font-family: Open Sans, sans-serif;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

* {
  word-wrap: break-word;
  outline: none;
}

#header{
  position: relative;
  display: block;
}

html, body, #wrapper {
  background-color: #F1F2F6;
}

.section-content {
  margin-top: 20px;
}

pre {
  font-family: monospace !important;
}
