@font-face {
  font-family: "glyphicons";
  src: url("../fonts/glyphicons.eot");
  src: url("../fonts/glyphicons.eot") format("embedded-opentype"),
    url("../fonts/glyphicons.ttf") format("truetype"),
    url("../fonts/glyphicons.woff") format("woff"),
    url("../fonts/glyphicons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-text {
  position: relative;
  padding-left: 24px;
}

.icon-text i {
  position: absolute;
  top: 0px;
  left: 0px;
}

.glyphicons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "glyphicons" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicons-menu:before {
  content: "\e900";
}
.glyphicons-menu-close:before {
  content: "\e901";
}
.glyphicons-usb-device:before {
  content: "\e902";
}
.glyphicons-backpack:before {
  content: "\e903";
}
.glyphicons-flashlight:before {
  content: "\e904";
}
.glyphicons-tree-deciduous:before {
  content: "\e905";
}
.glyphicons-world-east:before {
  content: "\e906";
}
.glyphicons-celeriac:before {
  content: "\e907";
}
.glyphicons-safe:before {
  content: "\e908";
}
.glyphicons-correction-skewed:before {
  content: "\e909";
}
.glyphicons-celery:before {
  content: "\e90a";
}
.glyphicons-correction-auto:before {
  content: "\e90b";
}
.glyphicons-correction-skewed-alt:before {
  content: "\e90c";
}
.glyphicons-highlights:before {
  content: "\e90d";
}
.glyphicons-invoice-check:before {
  content: "\e90e";
}
.glyphicons-mustard:before {
  content: "\e90f";
}
.glyphicons-user-voice:before {
  content: "\e910";
}
.glyphicons-safe-digital:before {
  content: "\e911";
}
.glyphicons-head-voice:before {
  content: "\e912";
}
.glyphicons-invoice-alert:before {
  content: "\e913";
}
.glyphicons-mobile-phone-nfc:before {
  content: "\e914";
}
.glyphicons-invoice-plus:before {
  content: "\e915";
}
.glyphicons-voice-scan:before {
  content: "\e916";
}
.glyphicons-invoice-minus:before {
  content: "\e917";
}
.glyphicons-correction-tilted:before {
  content: "\e918";
}
.glyphicons-safe-open:before {
  content: "\e919";
}
.glyphicons-lupin:before {
  content: "\e91a";
}
.glyphicons-peanuts:before {
  content: "\e91b";
}
.glyphicons-molluscs:before {
  content: "\e91c";
}
.glyphicons-mobile-phone-scan:before {
  content: "\e91d";
}
.glyphicons-iris-scan:before {
  content: "\e91e";
}
.glyphicons-percent-sign:before {
  content: "\e91f";
}
.glyphicons-mobile-phone-charger:before {
  content: "\e920";
}
.glyphicons-vignetting:before {
  content: "\e921";
}
.glyphicons-shadows:before {
  content: "\e922";
}
.glyphicons-sesame:before {
  content: "\e923";
}
.glyphicons-face-scan:before {
  content: "\e924";
}
.glyphicons-cash-register-alt:before {
  content: "\e925";
}
.glyphicons-cookie:before {
  content: "\e926";
}
.glyphicons-disappearing:before {
  content: "\e927";
}
.glyphicons-map-tourist:before {
  content: "\e928";
}
.glyphicons-memory-card-lock:before {
  content: "\e929";
}
.glyphicons-switch-off:before {
  content: "\e92a";
}
.glyphicons-cash-register:before {
  content: "\e92b";
}
.glyphicons-layers-lock:before {
  content: "\e92c";
}
.glyphicons-cloud-off:before {
  content: "\e92d";
}
.glyphicons-usb-device-eject:before {
  content: "\e92e";
}
.glyphicons-memory-card-cogwheel:before {
  content: "\e92f";
}
.glyphicons-spell-check:before {
  content: "\e930";
}
.glyphicons-usb-device-cogwheel:before {
  content: "\e931";
}
.glyphicons-axes-three-dimensional:before {
  content: "\e932";
}
.glyphicons-map-satellite:before {
  content: "\e933";
}
.glyphicons-files-queue:before {
  content: "\e934";
}
.glyphicons-spell-check-check:before {
  content: "\e935";
}
.glyphicons-initial-letter:before {
  content: "\e936";
}
.glyphicons-map-cadastral:before {
  content: "\e937";
}
.glyphicons-invoice:before {
  content: "\e938";
}
.glyphicons-layers-down:before {
  content: "\e939";
}
.glyphicons-switch-on:before {
  content: "\e93a";
}
.glyphicons-brain:before {
  content: "\e93b";
}
.glyphicons-axes-two-dimensional:before {
  content: "\e93c";
}
.glyphicons-trending:before {
  content: "\e93d";
}
.glyphicons-cookies:before {
  content: "\e93e";
}
.glyphicons-globe-data:before {
  content: "\e93f";
}
.glyphicons-brain-ai:before {
  content: "\e940";
}
.glyphicons-rulers:before {
  content: "\e941";
}
.glyphicons-memory-card-eject:before {
  content: "\e942";
}
.glyphicons-usb-device-no:before {
  content: "\e943";
}
.glyphicons-list-numbers:before {
  content: "\e944";
}
.glyphicons-receipt:before {
  content: "\e945";
}
.glyphicons-layers-up:before {
  content: "\e946";
}
.glyphicons-microchip:before {
  content: "\e947";
}
.glyphicons-usb-device-lock:before {
  content: "\e948";
}
.glyphicons-list-letters:before {
  content: "\e949";
}
.glyphicons-memory-card-no:before {
  content: "\e94a";
}
.glyphicons-layers-minus:before {
  content: "\e94b";
}
.glyphicons-map-aerial:before {
  content: "\e94c";
}
.glyphicons-layers-plus:before {
  content: "\e94d";
}
.glyphicons-artificial-intelligence:before {
  content: "\e94e";
}
.glyphicons-filter-off:before {
  content: "\e94f";
}
.glyphicons-layers-cogwheel:before {
  content: "\e950";
}
.glyphicons-memory-card:before {
  content: "\e951";
}
.glyphicons-cookie-alt:before {
  content: "\e952";
}
.glyphicons-layers:before {
  content: "\e953";
}
.glyphicons-book-library-search:before {
  content: "\e954";
}
.glyphicons-hard-drive-no:before {
  content: "\e955";
}
.glyphicons-sort-alphabetically:before {
  content: "\e956";
}
.glyphicons-one-day-delivery:before {
  content: "\e957";
}
.glyphicons-speech-bubble-question:before {
  content: "\e958";
}
.glyphicons-cloud-check:before {
  content: "\e959";
}
.glyphicons-cloud-download:before {
  content: "\e95a";
}
.glyphicons-speech-bubble-info:before {
  content: "\e95b";
}
.glyphicons-cloud:before {
  content: "\e95c";
}
.glyphicons-sort-numerically:before {
  content: "\e95d";
}
.glyphicons-sort-attributes-alt:before {
  content: "\e95e";
}
.glyphicons-cloud-alert:before {
  content: "\e95f";
}
.glyphicons-speech-bubble-alert:before {
  content: "\e960";
}
.glyphicons-view-full:before {
  content: "\e961";
}
.glyphicons-file-cloud:before {
  content: "\e962";
}
.glyphicons-subscript:before {
  content: "\e963";
}
.glyphicons-sort-numerically-alt:before {
  content: "\e964";
}
.glyphicons-cloud-upload:before {
  content: "\e965";
}
.glyphicons-fan:before {
  content: "\e966";
}
.glyphicons-sort-alphabetically-alt:before {
  content: "\e967";
}
.glyphicons-superscript:before {
  content: "\e968";
}
.glyphicons-cloud-pause:before {
  content: "\e969";
}
.glyphicons-cloud-refresh:before {
  content: "\e96a";
}
.glyphicons-view-half:before {
  content: "\e96b";
}
.glyphicons-sort-attributes:before {
  content: "\e96c";
}
.glyphicons-glass:before {
  content: "\e96d";
}
.glyphicons-power-plant-water:before {
  content: "\e96e";
}
.glyphicons-buildings-mixed:before {
  content: "\e96f";
}
.glyphicons-forward-thirty:before {
  content: "\e970";
}
.glyphicons-mobile-phone-lock:before {
  content: "\e971";
}
.glyphicons-cheque-off:before {
  content: "\e972";
}
.glyphicons-mobile-phone-check:before {
  content: "\e973";
}
.glyphicons-mobile-phone-alert:before {
  content: "\e974";
}
.glyphicons-tv-streaming:before {
  content: "\e975";
}
.glyphicons-power-cord-plug:before {
  content: "\e976";
}
.glyphicons-reload-alt:before {
  content: "\e977";
}
.glyphicons-forward-fifteen:before {
  content: "\e978";
}
.glyphicons-traffic-lights-off:before {
  content: "\e979";
}
.glyphicons-replay:before {
  content: "\e97a";
}
.glyphicons-honey:before {
  content: "\e97b";
}
.glyphicons-passport-alt:before {
  content: "\e97c";
}
.glyphicons-vector-path:before {
  content: "\e97d";
}
.glyphicons-vector-path-line:before {
  content: "\e97e";
}
.glyphicons-buildings-park:before {
  content: "\e97f";
}
.glyphicons-passport:before {
  content: "\e980";
}
.glyphicons-crop:before {
  content: "\e981";
}
.glyphicons-rewind-ten:before {
  content: "\e982";
}
.glyphicons-restart:before {
  content: "\e983";
}
.glyphicons-rewind-fifteen:before {
  content: "\e984";
}
.glyphicons-traffic-lights:before {
  content: "\e985";
}
.glyphicons-power-plant-wind:before {
  content: "\e986";
}
.glyphicons-wireless-charging:before {
  content: "\e987";
}
.glyphicons-badminton:before {
  content: "\e988";
}
.glyphicons-forward-ten:before {
  content: "\e989";
}
.glyphicons-square-menu:before {
  content: "\e98a";
}
.glyphicons-honeycombs:before {
  content: "\e98b";
}
.glyphicons-rewind-thirty:before {
  content: "\e98c";
}
.glyphicons-wind:before {
  content: "\e98d";
}
.glyphicons-power-plant-solar:before {
  content: "\e98e";
}
.glyphicons-cheque:before {
  content: "\e98f";
}
.glyphicons-square-more:before {
  content: "\e990";
}
.glyphicons-power-cord-plug-off:before {
  content: "\e991";
}
.glyphicons-vector-path-circle:before {
  content: "\e992";
}
.glyphicons-highway:before {
  content: "\e993";
}
.glyphicons-mobile-phone-cogwheel:before {
  content: "\e994";
}
.glyphicons-circle-more:before {
  content: "\e995";
}
.glyphicons-vector-path-pentagon:before {
  content: "\e996";
}
.glyphicons-drop:before {
  content: "\e997";
}
.glyphicons-rewind-five:before {
  content: "\e998";
}
.glyphicons-rechargeable:before {
  content: "\e999";
}
.glyphicons-honeybee:before {
  content: "\e99a";
}
.glyphicons-buildings-city:before {
  content: "\e99b";
}
.glyphicons-circle-menu:before {
  content: "\e99c";
}
.glyphicons-eyedropper:before {
  content: "\e99d";
}
.glyphicons-contrast:before {
  content: "\e99e";
}
.glyphicons-forward-five:before {
  content: "\e99f";
}
.glyphicons-vector-path-curve:before {
  content: "\e9a0";
}
.glyphicons-file-plus:before {
  content: "\e9a1";
}
.glyphicons-square-empty-left:before {
  content: "\e9a2";
}
.glyphicons-server-check:before {
  content: "\e9a3";
}
.glyphicons-transport-mixed:before {
  content: "\e9a4";
}
.glyphicons-drinking-water:before {
  content: "\e9a5";
}
.glyphicons-lasso:before {
  content: "\e9a6";
}
.glyphicons-compass:before {
  content: "\e9a7";
}
.glyphicons-lighter:before {
  content: "\e9a8";
}
.glyphicons-folder-refresh:before {
  content: "\e9a9";
}
.glyphicons-tent:before {
  content: "\e9aa";
}
.glyphicons-hard-drive-lock:before {
  content: "\e9ab";
}
.glyphicons-rook:before {
  content: "\e9ac";
}
.glyphicons-flag-waving:before {
  content: "\e9ad";
}
.glyphicons-eject:before {
  content: "\e9ae";
}
.glyphicons-shield-quarter:before {
  content: "\e9af";
}
.glyphicons-egg:before {
  content: "\e9b0";
}
.glyphicons-paragraph-left:before {
  content: "\e9b1";
}
.glyphicons-wheat:before {
  content: "\e9b2";
}
.glyphicons-square-triangle-right:before {
  content: "\e9b3";
}
.glyphicons-user-scam-alt:before {
  content: "\e9b4";
}
.glyphicons-drop-plus:before {
  content: "\e9b5";
}
.glyphicons-resize-horizontal:before {
  content: "\e9b6";
}
.glyphicons-equalizer-bars:before {
  content: "\e9b7";
}
.glyphicons-water:before {
  content: "\e9b8";
}
.glyphicons-hetero:before {
  content: "\e9b9";
}
.glyphicons-neighborhood:before {
  content: "\e9ba";
}
.glyphicons-cot:before {
  content: "\e9bb";
}
.glyphicons-bag:before {
  content: "\e9bc";
}
.glyphicons-strikethrough:before {
  content: "\e9bd";
}
.glyphicons-progress:before {
  content: "\e9be";
}
.glyphicons-dishwasher:before {
  content: "\e9bf";
}
.glyphicons-modal-window:before {
  content: "\e9c0";
}
.glyphicons-tag:before {
  content: "\e9c1";
}
.glyphicons-radioactive:before {
  content: "\e9c2";
}
.glyphicons-tram:before {
  content: "\e9c3";
}
.glyphicons-search:before {
  content: "\e9c4";
}
.glyphicons-door-open:before {
  content: "\e9c5";
}
.glyphicons-link-remove:before {
  content: "\e9c6";
}
.glyphicons-push-pin:before {
  content: "\e9c7";
}
.glyphicons-waste-pipe-end:before {
  content: "\e9c8";
}
.glyphicons-kiosk-food:before {
  content: "\e9c9";
}
.glyphicons-motorbike:before {
  content: "\e9ca";
}
.glyphicons-user-vr:before {
  content: "\e9cb";
}
.glyphicons-align-left:before {
  content: "\e9cc";
}
.glyphicons-hard-drive-eject:before {
  content: "\e9cd";
}
.glyphicons-cluster:before {
  content: "\e9ce";
}
.glyphicons-seafood:before {
  content: "\e9cf";
}
.glyphicons-cutlery:before {
  content: "\e9d0";
}
.glyphicons-hand-ok:before {
  content: "\e9d1";
}
.glyphicons-text-resize:before {
  content: "\e9d2";
}
.glyphicons-contactless-lock:before {
  content: "\e9d3";
}
.glyphicons-footprints:before {
  content: "\e9d4";
}
.glyphicons-roundabout:before {
  content: "\e9d5";
}
.glyphicons-card-spades:before {
  content: "\e9d6";
}
.glyphicons-coffee-beans:before {
  content: "\e9d7";
}
.glyphicons-temperature-high:before {
  content: "\e9d8";
}
.glyphicons-brightness-up:before {
  content: "\e9d9";
}
.glyphicons-nearby:before {
  content: "\e9da";
}
.glyphicons-inbox-up:before {
  content: "\e9db";
}
.glyphicons-video-play-empty:before {
  content: "\e9dc";
}
.glyphicons-text-height:before {
  content: "\e9dd";
}
.glyphicons-marriage:before {
  content: "\e9de";
}
.glyphicons-male:before {
  content: "\e9df";
}
.glyphicons-shop-door:before {
  content: "\e9e0";
}
.glyphicons-square-plus:before {
  content: "\e9e1";
}
.glyphicons-chat-conversation-off:before {
  content: "\e9e2";
}
.glyphicons-hand-pointing-up:before {
  content: "\e9e3";
}
.glyphicons-dog:before {
  content: "\e9e4";
}
.glyphicons-comments-off:before {
  content: "\e9e5";
}
.glyphicons-folder-lock:before {
  content: "\e9e6";
}
.glyphicons-airplane:before {
  content: "\e9e7";
}
.glyphicons-flag:before {
  content: "\e9e8";
}
.glyphicons-chat-message-lock:before {
  content: "\e9e9";
}
.glyphicons-game-controller-wireless:before {
  content: "\e9ea";
}
.glyphicons-drop-down:before {
  content: "\e9eb";
}
.glyphicons-fingerprint-remove:before {
  content: "\e9ec";
}
.glyphicons-arrow-thin-right:before {
  content: "\e9ed";
}
.glyphicons-baseball:before {
  content: "\e9ee";
}
.glyphicons-square-minus:before {
  content: "\e9ef";
}
.glyphicons-hand-heart:before {
  content: "\e9f0";
}
.glyphicons-blender:before {
  content: "\e9f1";
}
.glyphicons-stop:before {
  content: "\e9f2";
}
.glyphicons-volume-max:before {
  content: "\e9f3";
}
.glyphicons-square-empty-plus:before {
  content: "\e9f4";
}
.glyphicons-file-refresh:before {
  content: "\e9f5";
}
.glyphicons-scale-personal:before {
  content: "\e9f6";
}
.glyphicons-radio:before {
  content: "\e9f7";
}
.glyphicons-bitcoin:before {
  content: "\e9f8";
}
.glyphicons-shield-star:before {
  content: "\e9f9";
}
.glyphicons-transgender:before {
  content: "\e9fa";
}
.glyphicons-card-diamonds:before {
  content: "\e9fb";
}
.glyphicons-skip-to-start:before {
  content: "\e9fc";
}
.glyphicons-firefighters:before {
  content: "\e9fd";
}
.glyphicons-triangle-alert:before {
  content: "\e9fe";
}
.glyphicons-filter-minus:before {
  content: "\e9ff";
}
.glyphicons-lightbulb:before {
  content: "\ea00";
}
.glyphicons-circle-info:before {
  content: "\ea01";
}
.glyphicons-qr-code:before {
  content: "\ea02";
}
.glyphicons-arrow-thin-left:before {
  content: "\ea03";
}
.glyphicons-square-hospital:before {
  content: "\ea04";
}
.glyphicons-world-west:before {
  content: "\ea05";
}
.glyphicons-circle-play:before {
  content: "\ea06";
}
.glyphicons-fullscreen:before {
  content: "\ea07";
}
.glyphicons-reload:before {
  content: "\ea08";
}
.glyphicons-food-service:before {
  content: "\ea09";
}
.glyphicons-tree-conifer:before {
  content: "\ea0a";
}
.glyphicons-hairdresser:before {
  content: "\ea0b";
}
.glyphicons-bomb:before {
  content: "\ea0c";
}
.glyphicons-smart-bracelet:before {
  content: "\ea0d";
}
.glyphicons-arrow-down:before {
  content: "\ea0e";
}
.glyphicons-kiosk:before {
  content: "\ea0f";
}
.glyphicons-tv:before {
  content: "\ea10";
}
.glyphicons-fill:before {
  content: "\ea11";
}
.glyphicons-circle-empty-remove:before {
  content: "\ea12";
}
.glyphicons-cart-checkout:before {
  content: "\ea13";
}
.glyphicons-square-empty-remove:before {
  content: "\ea14";
}
.glyphicons-dryer:before {
  content: "\ea15";
}
.glyphicons-radar:before {
  content: "\ea16";
}
.glyphicons-call-pause:before {
  content: "\ea17";
}
.glyphicons-scissors:before {
  content: "\ea18";
}
.glyphicons-bowling:before {
  content: "\ea19";
}
.glyphicons-circle-empty-info:before {
  content: "\ea1a";
}
.glyphicons-battery-charging:before {
  content: "\ea1b";
}
.glyphicons-check:before {
  content: "\ea1c";
}
.glyphicons-fast-food:before {
  content: "\ea1d";
}
.glyphicons-server-no:before {
  content: "\ea1e";
}
.glyphicons-saw-blade:before {
  content: "\ea1f";
}
.glyphicons-credit:before {
  content: "\ea20";
}
.glyphicons-export:before {
  content: "\ea21";
}
.glyphicons-film:before {
  content: "\ea22";
}
.glyphicons-volume-up:before {
  content: "\ea23";
}
.glyphicons-chat-message-check:before {
  content: "\ea24";
}
.glyphicons-ear-off:before {
  content: "\ea25";
}
.glyphicons-banknotes:before {
  content: "\ea26";
}
.glyphicons-align-vertical:before {
  content: "\ea27";
}
.glyphicons-car-battery:before {
  content: "\ea28";
}
.glyphicons-database:before {
  content: "\ea29";
}
.glyphicons-carrot:before {
  content: "\ea2a";
}
.glyphicons-copy:before {
  content: "\ea2b";
}
.glyphicons-t-shirt-v:before {
  content: "\ea2c";
}
.glyphicons-key-rounded:before {
  content: "\ea2d";
}
.glyphicons-chevron-last-up:before {
  content: "\ea2e";
}
.glyphicons-kiosk-immobile:before {
  content: "\ea2f";
}
.glyphicons-circle-up:before {
  content: "\ea30";
}
.glyphicons-contactless:before {
  content: "\ea31";
}
.glyphicons-pulse:before {
  content: "\ea32";
}
.glyphicons-monitors:before {
  content: "\ea33";
}
.glyphicons-music-alt:before {
  content: "\ea34";
}
.glyphicons-car-wheel-wrench-alt:before {
  content: "\ea35";
}
.glyphicons-home-flood:before {
  content: "\ea36";
}
.glyphicons-circle-plus:before {
  content: "\ea37";
}
.glyphicons-dashboard:before {
  content: "\ea38";
}
.glyphicons-plus:before {
  content: "\ea39";
}
.glyphicons-basket:before {
  content: "\ea3a";
}
.glyphicons-skip-to-previous:before {
  content: "\ea3b";
}
.glyphicons-user-flag:before {
  content: "\ea3c";
}
.glyphicons-temperature-set:before {
  content: "\ea3d";
}
.glyphicons-this-side-up:before {
  content: "\ea3e";
}
.glyphicons-gun-off:before {
  content: "\ea3f";
}
.glyphicons-octagon-remove:before {
  content: "\ea40";
}
.glyphicons-rotate-vertical:before {
  content: "\ea41";
}
.glyphicons-audio-description-d:before {
  content: "\ea42";
}
.glyphicons-medal:before {
  content: "\ea43";
}
.glyphicons-block-move:before {
  content: "\ea44";
}
.glyphicons-paired-off:before {
  content: "\ea45";
}
.glyphicons-package:before {
  content: "\ea46";
}
.glyphicons-book-log:before {
  content: "\ea47";
}
.glyphicons-phone-old:before {
  content: "\ea48";
}
.glyphicons-graphic-tablet-wireless:before {
  content: "\ea49";
}
.glyphicons-subtitles-off:before {
  content: "\ea4a";
}
.glyphicons-police:before {
  content: "\ea4b";
}
.glyphicons-rotate-horizontal:before {
  content: "\ea4c";
}
.glyphicons-fabric:before {
  content: "\ea4d";
}
.glyphicons-circle-empty-left:before {
  content: "\ea4e";
}
.glyphicons-mic:before {
  content: "\ea4f";
}
.glyphicons-rewind:before {
  content: "\ea50";
}
.glyphicons-lawn-mower:before {
  content: "\ea51";
}
.glyphicons-octagon-remove-empty:before {
  content: "\ea52";
}
.glyphicons-microwave:before {
  content: "\ea53";
}
.glyphicons-eraser:before {
  content: "\ea54";
}
.glyphicons-metro:before {
  content: "\ea55";
}
.glyphicons-paragraph-center:before {
  content: "\ea56";
}
.glyphicons-lp:before {
  content: "\ea57";
}
.glyphicons-basket-in:before {
  content: "\ea58";
}
.glyphicons-ambulance:before {
  content: "\ea59";
}
.glyphicons-direction-empty:before {
  content: "\ea5a";
}
.glyphicons-more:before {
  content: "\ea5b";
}
.glyphicons-football:before {
  content: "\ea5c";
}
.glyphicons-circle-question:before {
  content: "\ea5d";
}
.glyphicons-random:before {
  content: "\ea5e";
}
.glyphicons-heart-empty:before {
  content: "\ea5f";
}
.glyphicons-volleyball:before {
  content: "\ea60";
}
.glyphicons-heart:before {
  content: "\ea61";
}
.glyphicons-ice-cream:before {
  content: "\ea62";
}
.glyphicons-cableway:before {
  content: "\ea63";
}
.glyphicons-server-minus:before {
  content: "\ea64";
}
.glyphicons-monitor:before {
  content: "\ea65";
}
.glyphicons-log-out:before {
  content: "\ea66";
}
.glyphicons-user-chat:before {
  content: "\ea67";
}
.glyphicons-fingerprint-check:before {
  content: "\ea68";
}
.glyphicons-switch:before {
  content: "\ea69";
}
.glyphicons-comments-lock:before {
  content: "\ea6a";
}
.glyphicons-notes:before {
  content: "\ea6b";
}
.glyphicons-wallet-lock:before {
  content: "\ea6c";
}
.glyphicons-square-check:before {
  content: "\ea6d";
}
.glyphicons-user-boy:before {
  content: "\ea6e";
}
.glyphicons-bars:before {
  content: "\ea6f";
}
.glyphicons-align-bottom:before {
  content: "\ea70";
}
.glyphicons-multifunction-knife:before {
  content: "\ea71";
}
.glyphicons-beer:before {
  content: "\ea72";
}
.glyphicons-legal-section-sign:before {
  content: "\ea73";
}
.glyphicons-indent-right:before {
  content: "\ea74";
}
.glyphicons-verify-empty:before {
  content: "\ea75";
}
.glyphicons-call-video:before {
  content: "\ea76";
}
.glyphicons-square-indeterminate:before {
  content: "\ea77";
}
.glyphicons-mouse-wireless:before {
  content: "\ea78";
}
.glyphicons-diving-scuba:before {
  content: "\ea79";
}
.glyphicons-redo:before {
  content: "\ea7a";
}
.glyphicons-lesbian:before {
  content: "\ea7b";
}
.glyphicons-puzzle:before {
  content: "\ea7c";
}
.glyphicons-text-background:before {
  content: "\ea7d";
}
.glyphicons-vr-inside:before {
  content: "\ea7e";
}
.glyphicons-flash-no:before {
  content: "\ea7f";
}
.glyphicons-toilet:before {
  content: "\ea80";
}
.glyphicons-dumbbell:before {
  content: "\ea81";
}
.glyphicons-square-info:before {
  content: "\ea82";
}
.glyphicons-flag-triangle:before {
  content: "\ea83";
}
.glyphicons-battery-half:before {
  content: "\ea84";
}
.glyphicons-euro:before {
  content: "\ea85";
}
.glyphicons-chat-conversation-lock:before {
  content: "\ea86";
}
.glyphicons-forward-email:before {
  content: "\ea87";
}
.glyphicons-shield-check:before {
  content: "\ea88";
}
.glyphicons-soya:before {
  content: "\ea89";
}
.glyphicons-shield-empty-star:before {
  content: "\ea8a";
}
.glyphicons-database-minus:before {
  content: "\ea8b";
}
.glyphicons-unknown:before {
  content: "\ea8c";
}
.glyphicons-nuts:before {
  content: "\ea8d";
}
.glyphicons-security-camera:before {
  content: "\ea8e";
}
.glyphicons-circle-selected:before {
  content: "\ea8f";
}
.glyphicons-car-wheel-wrench:before {
  content: "\ea90";
}
.glyphicons-pause:before {
  content: "\ea91";
}
.glyphicons-forest:before {
  content: "\ea92";
}
.glyphicons-square-empty-minus:before {
  content: "\ea93";
}
.glyphicons-email:before {
  content: "\ea94";
}
.glyphicons-volume-down:before {
  content: "\ea95";
}
.glyphicons-user-vr-plus:before {
  content: "\ea96";
}
.glyphicons-pills:before {
  content: "\ea97";
}
.glyphicons-milk:before {
  content: "\ea98";
}
.glyphicons-candle:before {
  content: "\ea99";
}
.glyphicons-resize-vertical:before {
  content: "\ea9a";
}
.glyphicons-hand-open-alt:before {
  content: "\ea9b";
}
.glyphicons-handshake:before {
  content: "\ea9c";
}
.glyphicons-rugby:before {
  content: "\ea9d";
}
.glyphicons-copy-duplicate:before {
  content: "\ea9e";
}
.glyphicons-users:before {
  content: "\ea9f";
}
.glyphicons-folder-star:before {
  content: "\eaa0";
}
.glyphicons-sync:before {
  content: "\eaa1";
}
.glyphicons-computer-network-alt:before {
  content: "\eaa2";
}
.glyphicons-fence:before {
  content: "\eaa3";
}
.glyphicons-car:before {
  content: "\eaa4";
}
.glyphicons-ice-lolly-eaten:before {
  content: "\eaa5";
}
.glyphicons-repeat:before {
  content: "\eaa6";
}
.glyphicons-computer-network:before {
  content: "\eaa7";
}
.glyphicons-envelope-plus:before {
  content: "\eaa8";
}
.glyphicons-square-down:before {
  content: "\eaa9";
}
.glyphicons-court-gavel-alt:before {
  content: "\eaaa";
}
.glyphicons-queen:before {
  content: "\eaab";
}
.glyphicons-circle-minus:before {
  content: "\eaac";
}
.glyphicons-dice-three:before {
  content: "\eaad";
}
.glyphicons-call-redirect:before {
  content: "\eaae";
}
.glyphicons-basket-check:before {
  content: "\eaaf";
}
.glyphicons-pawn:before {
  content: "\eab0";
}
.glyphicons-watch-squared:before {
  content: "\eab1";
}
.glyphicons-square-empty-right:before {
  content: "\eab2";
}
.glyphicons-square-up:before {
  content: "\eab3";
}
.glyphicons-credit-card:before {
  content: "\eab4";
}
.glyphicons-tablet:before {
  content: "\eab5";
}
.glyphicons-call-record:before {
  content: "\eab6";
}
.glyphicons-user-female:before {
  content: "\eab7";
}
.glyphicons-trousers:before {
  content: "\eab8";
}
.glyphicons-stroller:before {
  content: "\eab9";
}
.glyphicons-italic:before {
  content: "\eaba";
}
.glyphicons-three-dimensional:before {
  content: "\eabb";
}
.glyphicons-hockey:before {
  content: "\eabc";
}
.glyphicons-charging-station:before {
  content: "\eabd";
}
.glyphicons-paste:before {
  content: "\eabe";
}
.glyphicons-set:before {
  content: "\eabf";
}
.glyphicons-hob:before {
  content: "\eac0";
}
.glyphicons-luggage:before {
  content: "\eac1";
}
.glyphicons-dice:before {
  content: "\eac2";
}
.glyphicons-marker:before {
  content: "\eac3";
}
.glyphicons-cat:before {
  content: "\eac4";
}
.glyphicons-temperature-low:before {
  content: "\eac5";
}
.glyphicons-bullets:before {
  content: "\eac6";
}
.glyphicons-user-child:before {
  content: "\eac7";
}
.glyphicons-cart-check:before {
  content: "\eac8";
}
.glyphicons-temperature:before {
  content: "\eac9";
}
.glyphicons-bell-off:before {
  content: "\eaca";
}
.glyphicons-washing-machine:before {
  content: "\eacb";
}
.glyphicons-clipboard:before {
  content: "\eacc";
}
.glyphicons-skip-to-next:before {
  content: "\eacd";
}
.glyphicons-personal-hygiene:before {
  content: "\eace";
}
.glyphicons-reflect-y:before {
  content: "\eacf";
}
.glyphicons-vector-path-edit:before {
  content: "\ead0";
}
.glyphicons-text-underline:before {
  content: "\ead1";
}
.glyphicons-blacksmith:before {
  content: "\ead2";
}
.glyphicons-plant:before {
  content: "\ead3";
}
.glyphicons-saw:before {
  content: "\ead4";
}
.glyphicons-globe:before {
  content: "\ead5";
}
.glyphicons-leaf:before {
  content: "\ead6";
}
.glyphicons-square-email:before {
  content: "\ead7";
}
.glyphicons-play:before {
  content: "\ead8";
}
.glyphicons-clean:before {
  content: "\ead9";
}
.glyphicons-bicycle:before {
  content: "\eada";
}
.glyphicons-call-lock:before {
  content: "\eadb";
}
.glyphicons-claw-hammer:before {
  content: "\eadc";
}
.glyphicons-calculator:before {
  content: "\eadd";
}
.glyphicons-book-open-text:before {
  content: "\eade";
}
.glyphicons-bed:before {
  content: "\eadf";
}
.glyphicons-circle-empty-minus:before {
  content: "\eae0";
}
.glyphicons-square-empty-question:before {
  content: "\eae1";
}
.glyphicons-motor-oil:before {
  content: "\eae2";
}
.glyphicons-drinking-water-off:before {
  content: "\eae3";
}
.glyphicons-fire:before {
  content: "\eae4";
}
.glyphicons-dice-four:before {
  content: "\eae5";
}
.glyphicons-transport-trolley:before {
  content: "\eae6";
}
.glyphicons-door:before {
  content: "\eae7";
}
.glyphicons-speakers:before {
  content: "\eae8";
}
.glyphicons-parking-meter:before {
  content: "\eae9";
}
.glyphicons-circle-check:before {
  content: "\eaea";
}
.glyphicons-user-parents:before {
  content: "\eaeb";
}
.glyphicons-drop-off:before {
  content: "\eaec";
}
.glyphicons-folder-no:before {
  content: "\eaed";
}
.glyphicons-underline:before {
  content: "\eaee";
}
.glyphicons-screwdriver:before {
  content: "\eaef";
}
.glyphicons-route:before {
  content: "\eaf0";
}
.glyphicons-envelope-star:before {
  content: "\eaf1";
}
.glyphicons-balloon:before {
  content: "\eaf2";
}
.glyphicons-kettle:before {
  content: "\eaf3";
}
.glyphicons-car-rental:before {
  content: "\eaf4";
}
.glyphicons-spade:before {
  content: "\eaf5";
}
.glyphicons-kettlebell:before {
  content: "\eaf6";
}
.glyphicons-folder-check:before {
  content: "\eaf7";
}
.glyphicons-folder:before {
  content: "\eaf8";
}
.glyphicons-envelope-up:before {
  content: "\eaf9";
}
.glyphicons-user-plus:before {
  content: "\eafa";
}
.glyphicons-reply-all:before {
  content: "\eafb";
}
.glyphicons-no-symbol:before {
  content: "\eafc";
}
.glyphicons-french-press:before {
  content: "\eafd";
}
.glyphicons-direction-full:before {
  content: "\eafe";
}
.glyphicons-square-new-window:before {
  content: "\eaff";
}
.glyphicons-dice-five:before {
  content: "\eb00";
}
.glyphicons-user-girl:before {
  content: "\eb01";
}
.glyphicons-hand-pointing-down:before {
  content: "\eb02";
}
.glyphicons-id-badge:before {
  content: "\eb03";
}
.glyphicons-remote-control:before {
  content: "\eb04";
}
.glyphicons-tie:before {
  content: "\eb05";
}
.glyphicons-construction-cone:before {
  content: "\eb06";
}
.glyphicons-ice-lolly:before {
  content: "\eb07";
}
.glyphicons-envelope-down:before {
  content: "\eb08";
}
.glyphicons-intersex:before {
  content: "\eb09";
}
.glyphicons-square-remove:before {
  content: "\eb0a";
}
.glyphicons-education:before {
  content: "\eb0b";
}
.glyphicons-user-no:before {
  content: "\eb0c";
}
.glyphicons-call-data:before {
  content: "\eb0d";
}
.glyphicons-suitcase-doctor:before {
  content: "\eb0e";
}
.glyphicons-waste-pipe:before {
  content: "\eb0f";
}
.glyphicons-bath:before {
  content: "\eb10";
}
.glyphicons-circle-left:before {
  content: "\eb11";
}
.glyphicons-turtle:before {
  content: "\eb12";
}
.glyphicons-square-question:before {
  content: "\eb13";
}
.glyphicons-umbrella:before {
  content: "\eb14";
}
.glyphicons-align-horizontal:before {
  content: "\eb15";
}
.glyphicons-sun:before {
  content: "\eb16";
}
.glyphicons-wallet-cogwheel:before {
  content: "\eb17";
}
.glyphicons-square-checkbox:before {
  content: "\eb18";
}
.glyphicons-stats-circle:before {
  content: "\eb19";
}
.glyphicons-direction:before {
  content: "\eb1a";
}
.glyphicons-gay:before {
  content: "\eb1b";
}
.glyphicons-access-point:before {
  content: "\eb1c";
}
.glyphicons-id-badge-vertical:before {
  content: "\eb1d";
}
.glyphicons-align-top:before {
  content: "\eb1e";
}
.glyphicons-crown:before {
  content: "\eb1f";
}
.glyphicons-square-edit:before {
  content: "\eb20";
}
.glyphicons-chevron-last-down:before {
  content: "\eb21";
}
.glyphicons-flower:before {
  content: "\eb22";
}
.glyphicons-user-scam:before {
  content: "\eb23";
}
.glyphicons-call-ip:before {
  content: "\eb24";
}
.glyphicons-video-camera:before {
  content: "\eb25";
}
.glyphicons-bell-ringing:before {
  content: "\eb26";
}
.glyphicons-send-backward:before {
  content: "\eb27";
}
.glyphicons-bookmark:before {
  content: "\eb28";
}
.glyphicons-mountains:before {
  content: "\eb29";
}
.glyphicons-shower-alt:before {
  content: "\eb2a";
}
.glyphicons-quad-bike:before {
  content: "\eb2b";
}
.glyphicons-syringe:before {
  content: "\eb2c";
}
.glyphicons-file-minus:before {
  content: "\eb2d";
}
.glyphicons-yen:before {
  content: "\eb2e";
}
.glyphicons-cars:before {
  content: "\eb2f";
}
.glyphicons-barrel:before {
  content: "\eb30";
}
.glyphicons-circle-red-cross:before {
  content: "\eb31";
}
.glyphicons-step-forward:before {
  content: "\eb32";
}
.glyphicons-hash:before {
  content: "\eb33";
}
.glyphicons-translate-alt:before {
  content: "\eb34";
}
.glyphicons-balance-scales:before {
  content: "\eb35";
}
.glyphicons-call:before {
  content: "\eb36";
}
.glyphicons-book-play:before {
  content: "\eb37";
}
.glyphicons-compound:before {
  content: "\eb38";
}
.glyphicons-curves:before {
  content: "\eb39";
}
.glyphicons-card-clubs:before {
  content: "\eb3a";
}
.glyphicons-keyboard-wireless:before {
  content: "\eb3b";
}
.glyphicons-fireworks:before {
  content: "\eb3c";
}
.glyphicons-wallet-plus:before {
  content: "\eb3d";
}
.glyphicons-voting-urn:before {
  content: "\eb3e";
}
.glyphicons-server-plus:before {
  content: "\eb3f";
}
.glyphicons-reply:before {
  content: "\eb40";
}
.glyphicons-monitor-rotate:before {
  content: "\eb41";
}
.glyphicons-electric-cord:before {
  content: "\eb42";
}
.glyphicons-luggage-alt:before {
  content: "\eb43";
}
.glyphicons-gift:before {
  content: "\eb44";
}
.glyphicons-truck:before {
  content: "\eb45";
}
.glyphicons-bell:before {
  content: "\eb46";
}
.glyphicons-square-triangle-down:before {
  content: "\eb47";
}
.glyphicons-train:before {
  content: "\eb48";
}
.glyphicons-user-vr-minus:before {
  content: "\eb49";
}
.glyphicons-stats:before {
  content: "\eb4a";
}
.glyphicons-announcement:before {
  content: "\eb4b";
}
.glyphicons-fireplace:before {
  content: "\eb4c";
}
.glyphicons-equalizer-dots:before {
  content: "\eb4d";
}
.glyphicons-text-smaller:before {
  content: "\eb4e";
}
.glyphicons-set-wine:before {
  content: "\eb4f";
}
.glyphicons-key:before {
  content: "\eb50";
}
.glyphicons-chevron-right:before {
  content: "\eb51";
}
.glyphicons-dice-two:before {
  content: "\eb52";
}
.glyphicons-forward:before {
  content: "\eb53";
}
.glyphicons-equals:before {
  content: "\eb54";
}
.glyphicons-envelope-full:before {
  content: "\eb55";
}
.glyphicons-pencil:before {
  content: "\eb56";
}
.glyphicons-piggy-bank:before {
  content: "\eb57";
}
.glyphicons-fireworks-alt:before {
  content: "\eb58";
}
.glyphicons-inbox-down:before {
  content: "\eb59";
}
.glyphicons-ear:before {
  content: "\eb5a";
}
.glyphicons-dice-one:before {
  content: "\eb5b";
}
.glyphicons-mobile-phone-off:before {
  content: "\eb5c";
}
.glyphicons-playlist-music:before {
  content: "\eb5d";
}
.glyphicons-fingerprint-scan:before {
  content: "\eb5e";
}
.glyphicons-directions-sign:before {
  content: "\eb5f";
}
.glyphicons-division:before {
  content: "\eb60";
}
.glyphicons-payment:before {
  content: "\eb61";
}
.glyphicons-cd:before {
  content: "\eb62";
}
.glyphicons-folder-minus:before {
  content: "\eb63";
}
.glyphicons-flash:before {
  content: "\eb64";
}
.glyphicons-tea-leaves:before {
  content: "\eb65";
}
.glyphicons-user:before {
  content: "\eb66";
}
.glyphicons-gun:before {
  content: "\eb67";
}
.glyphicons-folder-plus:before {
  content: "\eb68";
}
.glyphicons-thumbnails-small:before {
  content: "\eb69";
}
.glyphicons-canister:before {
  content: "\eb6a";
}
.glyphicons-mic-off:before {
  content: "\eb6b";
}
.glyphicons-timer:before {
  content: "\eb6c";
}
.glyphicons-circle-empty-right:before {
  content: "\eb6d";
}
.glyphicons-star:before {
  content: "\eb6e";
}
.glyphicons-sync-alert:before {
  content: "\eb6f";
}
.glyphicons-hand-open:before {
  content: "\eb70";
}
.glyphicons-door-close:before {
  content: "\eb71";
}
.glyphicons-bring-forward:before {
  content: "\eb72";
}
.glyphicons-square-empty-upload:before {
  content: "\eb73";
}
.glyphicons-theater-masks:before {
  content: "\eb74";
}
.glyphicons-thumbnails:before {
  content: "\eb75";
}
.glyphicons-battery-quarter:before {
  content: "\eb76";
}
.glyphicons-user-check:before {
  content: "\eb77";
}
.glyphicons-save-as:before {
  content: "\eb78";
}
.glyphicons-lamp:before {
  content: "\eb79";
}
.glyphicons-camera:before {
  content: "\eb7a";
}
.glyphicons-server-flag:before {
  content: "\eb7b";
}
.glyphicons-tea-mug:before {
  content: "\eb7c";
}
.glyphicons-gas:before {
  content: "\eb7d";
}
.glyphicons-earphones:before {
  content: "\eb7e";
}
.glyphicons-shoes:before {
  content: "\eb7f";
}
.glyphicons-squares:before {
  content: "\eb80";
}
.glyphicons-database-search:before {
  content: "\eb81";
}
.glyphicons-triangle-empty-alert:before {
  content: "\eb82";
}
.glyphicons-scanner:before {
  content: "\eb83";
}
.glyphicons-king:before {
  content: "\eb84";
}
.glyphicons-bus:before {
  content: "\eb85";
}
.glyphicons-forklift:before {
  content: "\eb86";
}
.glyphicons-calendar:before {
  content: "\eb87";
}
.glyphicons-bishop:before {
  content: "\eb88";
}
.glyphicons-map-marker:before {
  content: "\eb89";
}
.glyphicons-barbed-wire:before {
  content: "\eb8a";
}
.glyphicons-user-rounded:before {
  content: "\eb8b";
}
.glyphicons-coins:before {
  content: "\eb8c";
}
.glyphicons-missile:before {
  content: "\eb8d";
}
.glyphicons-lock-off:before {
  content: "\eb8e";
}
.glyphicons-dress:before {
  content: "\eb8f";
}
.glyphicons-underwear:before {
  content: "\eb90";
}
.glyphicons-square-empty-play:before {
  content: "\eb91";
}
.glyphicons-chevron-left:before {
  content: "\eb92";
}
.glyphicons-pizza:before {
  content: "\eb93";
}
.glyphicons-ticket-parking:before {
  content: "\eb94";
}
.glyphicons-snowflake:before {
  content: "\eb95";
}
.glyphicons-skull:before {
  content: "\eb96";
}
.glyphicons-inbox-minus:before {
  content: "\eb97";
}
.glyphicons-map:before {
  content: "\eb98";
}
.glyphicons-link:before {
  content: "\eb99";
}
.glyphicons-government:before {
  content: "\eb9a";
}
.glyphicons-chemistry-alt:before {
  content: "\eb9b";
}
.glyphicons-server-refresh:before {
  content: "\eb9c";
}
.glyphicons-envelope-lock:before {
  content: "\eb9d";
}
.glyphicons-verify-check:before {
  content: "\eb9e";
}
.glyphicons-folder-cogwheel:before {
  content: "\eb9f";
}
.glyphicons-oxygen-bottles:before {
  content: "\eba0";
}
.glyphicons-taxi:before {
  content: "\eba1";
}
.glyphicons-mouse:before {
  content: "\eba2";
}
.glyphicons-star-of-life-empty:before {
  content: "\eba3";
}
.glyphicons-arrow-up:before {
  content: "\eba4";
}
.glyphicons-ax:before {
  content: "\eba5";
}
.glyphicons-arrow-right:before {
  content: "\eba6";
}
.glyphicons-ticket:before {
  content: "\eba7";
}
.glyphicons-presentation:before {
  content: "\eba8";
}
.glyphicons-shield-half:before {
  content: "\eba9";
}
.glyphicons-cup:before {
  content: "\ebaa";
}
.glyphicons-battery-charged:before {
  content: "\ebab";
}
.glyphicons-user-incognito:before {
  content: "\ebac";
}
.glyphicons-headset:before {
  content: "\ebad";
}
.glyphicons-brush:before {
  content: "\ebae";
}
.glyphicons-leather:before {
  content: "\ebaf";
}
.glyphicons-dog-tags:before {
  content: "\ebb0";
}
.glyphicons-paragraph-right:before {
  content: "\ebb1";
}
.glyphicons-triangle-radioactive:before {
  content: "\ebb2";
}
.glyphicons-voicemail:before {
  content: "\ebb3";
}
.glyphicons-square-triangle-left:before {
  content: "\ebb4";
}
.glyphicons-piggy-bank-coins:before {
  content: "\ebb5";
}
.glyphicons-vases:before {
  content: "\ebb6";
}
.glyphicons-park:before {
  content: "\ebb7";
}
.glyphicons-cake:before {
  content: "\ebb8";
}
.glyphicons-rabbit:before {
  content: "\ebb9";
}
.glyphicons-brick-wall:before {
  content: "\ebba";
}
.glyphicons-briefcase:before {
  content: "\ebbb";
}
.glyphicons-biohazard:before {
  content: "\ebbc";
}
.glyphicons-home-flag:before {
  content: "\ebbd";
}
.glyphicons-fax:before {
  content: "\ebbe";
}
.glyphicons-eye:before {
  content: "\ebbf";
}
.glyphicons-circle-empty-down:before {
  content: "\ebc0";
}
.glyphicons-circle-empty-up:before {
  content: "\ebc1";
}
.glyphicons-campfire:before {
  content: "\ebc2";
}
.glyphicons-square-play:before {
  content: "\ebc3";
}
.glyphicons-game-controller:before {
  content: "\ebc4";
}
.glyphicons-paragraph-justify:before {
  content: "\ebc5";
}
.glyphicons-fish:before {
  content: "\ebc6";
}
.glyphicons-envelope-flag:before {
  content: "\ebc7";
}
.glyphicons-book:before {
  content: "\ebc8";
}
.glyphicons-hourglass:before {
  content: "\ebc9";
}
.glyphicons-user-squared:before {
  content: "\ebca";
}
.glyphicons-square-empty-download:before {
  content: "\ebcb";
}
.glyphicons-female:before {
  content: "\ebcc";
}
.glyphicons-target:before {
  content: "\ebcd";
}
.glyphicons-square-red-cross:before {
  content: "\ebce";
}
.glyphicons-id-binder:before {
  content: "\ebcf";
}
.glyphicons-t-shirt-sleeves:before {
  content: "\ebd0";
}
.glyphicons-diving-free:before {
  content: "\ebd1";
}
.glyphicons-circle-remove:before {
  content: "\ebd2";
}
.glyphicons-user-parents-alt:before {
  content: "\ebd3";
}
.glyphicons-newspaper:before {
  content: "\ebd4";
}
.glyphicons-ruler:before {
  content: "\ebd5";
}
.glyphicons-filter-plus:before {
  content: "\ebd6";
}
.glyphicons-playlist-video:before {
  content: "\ebd7";
}
.glyphicons-factory:before {
  content: "\ebd8";
}
.glyphicons-terminal:before {
  content: "\ebd9";
}
.glyphicons-satellite:before {
  content: "\ebda";
}
.glyphicons-mobile-phone-shaking:before {
  content: "\ebdb";
}
.glyphicons-fullscreen-off:before {
  content: "\ebdc";
}
.glyphicons-sound-surround:before {
  content: "\ebdd";
}
.glyphicons-satellite-dish-alt:before {
  content: "\ebde";
}
.glyphicons-briefcase-alt:before {
  content: "\ebdf";
}
.glyphicons-monitor-vertical:before {
  content: "\ebe0";
}
.glyphicons-shopping-bag:before {
  content: "\ebe1";
}
.glyphicons-basket-out:before {
  content: "\ebe2";
}
.glyphicons-comments:before {
  content: "\ebe3";
}
.glyphicons-archive:before {
  content: "\ebe4";
}
.glyphicons-exchange:before {
  content: "\ebe5";
}
.glyphicons-arrow-thin-down:before {
  content: "\ebe6";
}
.glyphicons-computer:before {
  content: "\ebe7";
}
.glyphicons-hard-drive:before {
  content: "\ebe8";
}
.glyphicons-hand-praying:before {
  content: "\ebe9";
}
.glyphicons-light-beacon:before {
  content: "\ebea";
}
.glyphicons-car-wheel:before {
  content: "\ebeb";
}
.glyphicons-moon:before {
  content: "\ebec";
}
.glyphicons-ice-cream-off:before {
  content: "\ebed";
}
.glyphicons-log-in:before {
  content: "\ebee";
}
.glyphicons-scissors-cutting:before {
  content: "\ebef";
}
.glyphicons-swimming-pool:before {
  content: "\ebf0";
}
.glyphicons-hard-drive-cogwheel:before {
  content: "\ebf1";
}
.glyphicons-more-vertical:before {
  content: "\ebf2";
}
.glyphicons-directions-arrow:before {
  content: "\ebf3";
}
.glyphicons-skull-crossbones:before {
  content: "\ebf4";
}
.glyphicons-syringe-empty:before {
  content: "\ebf5";
}
.glyphicons-hammer:before {
  content: "\ebf6";
}
.glyphicons-user-alert:before {
  content: "\ebf7";
}
.glyphicons-satellite-dish:before {
  content: "\ebf8";
}
.glyphicons-robot:before {
  content: "\ebf9";
}
.glyphicons-buoy:before {
  content: "\ebfa";
}
.glyphicons-table:before {
  content: "\ebfb";
}
.glyphicons-settings:before {
  content: "\ebfc";
}
.glyphicons-wallet-minus:before {
  content: "\ebfd";
}
.glyphicons-square-empty-check:before {
  content: "\ebfe";
}
.glyphicons-call-music:before {
  content: "\ebff";
}
.glyphicons-circle-empty-check:before {
  content: "\ec00";
}
.glyphicons-shop-window:before {
  content: "\ec01";
}
.glyphicons-arrow-left:before {
  content: "\ec02";
}
.glyphicons-undo:before {
  content: "\ec03";
}
.glyphicons-square-alert:before {
  content: "\ec04";
}
.glyphicons-dustbin:before {
  content: "\ec05";
}
.glyphicons-bold:before {
  content: "\ec06";
}
.glyphicons-heartbeat:before {
  content: "\ec07";
}
.glyphicons-lock-open:before {
  content: "\ec08";
}
.glyphicons-square-download:before {
  content: "\ec09";
}
.glyphicons-book-address:before {
  content: "\ec0a";
}
.glyphicons-stopwatch:before {
  content: "\ec0b";
}
.glyphicons-finish-line:before {
  content: "\ec0c";
}
.glyphicons-circle-empty-play:before {
  content: "\ec0d";
}
.glyphicons-terminal-empty:before {
  content: "\ec0e";
}
.glyphicons-text-width:before {
  content: "\ec0f";
}
.glyphicons-share:before {
  content: "\ec10";
}
.glyphicons-home:before {
  content: "\ec11";
}
.glyphicons-bin:before {
  content: "\ec12";
}
.glyphicons-envelope-empty:before {
  content: "\ec13";
}
.glyphicons-clock:before {
  content: "\ec14";
}
.glyphicons-kiosk-wheels:before {
  content: "\ec15";
}
.glyphicons-square-right:before {
  content: "\ec16";
}
.glyphicons-spray:before {
  content: "\ec17";
}
.glyphicons-paired:before {
  content: "\ec18";
}
.glyphicons-basketball:before {
  content: "\ec19";
}
.glyphicons-dollar:before {
  content: "\ec1a";
}
.glyphicons-sailboat:before {
  content: "\ec1b";
}
.glyphicons-anchor:before {
  content: "\ec1c";
}
.glyphicons-boat:before {
  content: "\ec1d";
}
.glyphicons-mobile-phone-vibrations:before {
  content: "\ec1e";
}
.glyphicons-history:before {
  content: "\ec1f";
}
.glyphicons-credit-empty:before {
  content: "\ec20";
}
.glyphicons-palette:before {
  content: "\ec21";
}
.glyphicons-minus:before {
  content: "\ec22";
}
.glyphicons-headphones:before {
  content: "\ec23";
}
.glyphicons-set-down:before {
  content: "\ec24";
}
.glyphicons-subtitles-minus:before {
  content: "\ec25";
}
.glyphicons-tags:before {
  content: "\ec26";
}
.glyphicons-simple-trolley:before {
  content: "\ec27";
}
.glyphicons-bed-sleeping:before {
  content: "\ec28";
}
.glyphicons-start:before {
  content: "\ec29";
}
.glyphicons-hand-dislike:before {
  content: "\ec2a";
}
.glyphicons-file:before {
  content: "\ec2b";
}
.glyphicons-battery-three-quarters:before {
  content: "\ec2c";
}
.glyphicons-playlist:before {
  content: "\ec2d";
}
.glyphicons-home-fire:before {
  content: "\ec2e";
}
.glyphicons-repeat-once:before {
  content: "\ec2f";
}
.glyphicons-bed-single:before {
  content: "\ec30";
}
.glyphicons-diamond:before {
  content: "\ec31";
}
.glyphicons-warehouse:before {
  content: "\ec32";
}
.glyphicons-brightness-down:before {
  content: "\ec33";
}
.glyphicons-palette-package:before {
  content: "\ec34";
}
.glyphicons-chat-conversation:before {
  content: "\ec35";
}
.glyphicons-beer-alt:before {
  content: "\ec36";
}
.glyphicons-slightly-smiling:before {
  content: "\ec37";
}
.glyphicons-user-family:before {
  content: "\ec38";
}
.glyphicons-chevron-last-left:before {
  content: "\ec39";
}
.glyphicons-tea-pot:before {
  content: "\ec3a";
}
.glyphicons-chevron-up:before {
  content: "\ec3b";
}
.glyphicons-phone-rotate:before {
  content: "\ec3c";
}
.glyphicons-car-wheel-defect:before {
  content: "\ec3d";
}
.glyphicons-alarm:before {
  content: "\ec3e";
}
.glyphicons-cooks-hat:before {
  content: "\ec3f";
}
.glyphicons-reflect-x:before {
  content: "\ec40";
}
.glyphicons-corn:before {
  content: "\ec41";
}
.glyphicons-filter:before {
  content: "\ec42";
}
.glyphicons-pot:before {
  content: "\ec43";
}
.glyphicons-beach-umbrella:before {
  content: "\ec44";
}
.glyphicons-pen:before {
  content: "\ec45";
}
.glyphicons-glass-wine:before {
  content: "\ec46";
}
.glyphicons-cart:before {
  content: "\ec47";
}
.glyphicons-video:before {
  content: "\ec48";
}
.glyphicons-lamp-table:before {
  content: "\ec49";
}
.glyphicons-inbox-plus:before {
  content: "\ec4a";
}
.glyphicons-hand-pointing-right:before {
  content: "\ec4b";
}
.glyphicons-arrow-thin-up:before {
  content: "\ec4c";
}
.glyphicons-video-play:before {
  content: "\ec4d";
}
.glyphicons-tractor:before {
  content: "\ec4e";
}
.glyphicons-tasks:before {
  content: "\ec4f";
}
.glyphicons-server-cogwheel:before {
  content: "\ec50";
}
.glyphicons-directions:before {
  content: "\ec51";
}
.glyphicons-asian-food:before {
  content: "\ec52";
}
.glyphicons-indent-left:before {
  content: "\ec53";
}
.glyphicons-fishes:before {
  content: "\ec54";
}
.glyphicons-phone-to-horizontal:before {
  content: "\ec55";
}
.glyphicons-battery-low:before {
  content: "\ec56";
}
.glyphicons-winners-stars:before {
  content: "\ec57";
}
.glyphicons-nearby-alt:before {
  content: "\ec58";
}
.glyphicons-balloons:before {
  content: "\ec59";
}
.glyphicons-square-empty-alert:before {
  content: "\ec5a";
}
.glyphicons-oven:before {
  content: "\ec5b";
}
.glyphicons-parking:before {
  content: "\ec5c";
}
.glyphicons-cart-in:before {
  content: "\ec5d";
}
.glyphicons-terminal-isolated:before {
  content: "\ec5e";
}
.glyphicons-cogwheels:before {
  content: "\ec5f";
}
.glyphicons-basket-checkout:before {
  content: "\ec60";
}
.glyphicons-circle-down:before {
  content: "\ec61";
}
.glyphicons-print:before {
  content: "\ec62";
}
.glyphicons-magic-wand:before {
  content: "\ec63";
}
.glyphicons-winners:before {
  content: "\ec64";
}
.glyphicons-router:before {
  content: "\ec65";
}
.glyphicons-square-triangle-up:before {
  content: "\ec66";
}
.glyphicons-dna:before {
  content: "\ec67";
}
.glyphicons-knight:before {
  content: "\ec68";
}
.glyphicons-medicine:before {
  content: "\ec69";
}
.glyphicons-ruble:before {
  content: "\ec6a";
}
.glyphicons-circle-empty-alert:before {
  content: "\ec6b";
}
.glyphicons-chevron-down:before {
  content: "\ec6c";
}
.glyphicons-refresh:before {
  content: "\ec6d";
}
.glyphicons-call-outgoing:before {
  content: "\ec6e";
}
.glyphicons-blackboard:before {
  content: "\ec6f";
}
.glyphicons-bank:before {
  content: "\ec70";
}
.glyphicons-open:before {
  content: "\ec71";
}
.glyphicons-circle-right:before {
  content: "\ec72";
}
.glyphicons-shredder:before {
  content: "\ec73";
}
.glyphicons-cart-out:before {
  content: "\ec74";
}
.glyphicons-fishes-bait:before {
  content: "\ec75";
}
.glyphicons-music:before {
  content: "\ec76";
}
.glyphicons-call-incoming:before {
  content: "\ec77";
}
.glyphicons-factory-alt:before {
  content: "\ec78";
}
.glyphicons-tennis:before {
  content: "\ec79";
}
.glyphicons-envelope-no:before {
  content: "\ec7a";
}
.glyphicons-mobile-phone:before {
  content: "\ec7b";
}
.glyphicons-inbox-lock:before {
  content: "\ec7c";
}
.glyphicons-file-lock:before {
  content: "\ec7d";
}
.glyphicons-shower:before {
  content: "\ec7e";
}
.glyphicons-recycling:before {
  content: "\ec7f";
}
.glyphicons-circle-hospital:before {
  content: "\ec80";
}
.glyphicons-server-lock:before {
  content: "\ec81";
}
.glyphicons-hanger:before {
  content: "\ec82";
}
.glyphicons-table-tennis:before {
  content: "\ec83";
}
.glyphicons-virgin-female:before {
  content: "\ec84";
}
.glyphicons-envelope-minus:before {
  content: "\ec85";
}
.glyphicons-paperclip:before {
  content: "\ec86";
}
.glyphicons-user-star:before {
  content: "\ec87";
}
.glyphicons-user-minus:before {
  content: "\ec88";
}
.glyphicons-tornado:before {
  content: "\ec89";
}
.glyphicons-keyboard:before {
  content: "\ec8a";
}
.glyphicons-barcode:before {
  content: "\ec8b";
}
.glyphicons-coffee-to-go:before {
  content: "\ec8c";
}
.glyphicons-home-for-sale:before {
  content: "\ec8d";
}
.glyphicons-thumbnails-list:before {
  content: "\ec8e";
}
.glyphicons-dice-six:before {
  content: "\ec8f";
}
.glyphicons-t-shirt:before {
  content: "\ec90";
}
.glyphicons-other:before {
  content: "\ec91";
}
.glyphicons-building:before {
  content: "\ec92";
}
.glyphicons-database-plus:before {
  content: "\ec93";
}
.glyphicons-drink:before {
  content: "\ec94";
}
.glyphicons-card-hearts:before {
  content: "\ec95";
}
.glyphicons-podcast:before {
  content: "\ec96";
}
.glyphicons-star-of-life:before {
  content: "\ec97";
}
.glyphicons-slightly-frowning:before {
  content: "\ec98";
}
.glyphicons-hand-donate:before {
  content: "\ec99";
}
.glyphicons-id:before {
  content: "\ec9a";
}
.glyphicons-list:before {
  content: "\ec9b";
}
.glyphicons-gas-station:before {
  content: "\ec9c";
}
.glyphicons-rotate:before {
  content: "\ec9d";
}
.glyphicons-book-open:before {
  content: "\ec9e";
}
.glyphicons-heart-broken:before {
  content: "\ec9f";
}
.glyphicons-pound:before {
  content: "\eca0";
}
.glyphicons-translate:before {
  content: "\eca1";
}
.glyphicons-retweet:before {
  content: "\eca2";
}
.glyphicons-user-lock:before {
  content: "\eca3";
}
.glyphicons-computer-pc-tower:before {
  content: "\eca4";
}
.glyphicons-magnet:before {
  content: "\eca5";
}
.glyphicons-credit-card-off:before {
  content: "\eca6";
}
.glyphicons-filter-cogwheel:before {
  content: "\eca7";
}
.glyphicons-bring-to-front:before {
  content: "\eca8";
}
.glyphicons-user-group:before {
  content: "\eca9";
}
.glyphicons-chemistry:before {
  content: "\ecaa";
}
.glyphicons-square-left:before {
  content: "\ecab";
}
.glyphicons-wallet-check:before {
  content: "\ecac";
}
.glyphicons-skip-to-end:before {
  content: "\ecad";
}
.glyphicons-circle-alert:before {
  content: "\ecae";
}
.glyphicons-wifi:before {
  content: "\ecaf";
}
.glyphicons-text-bigger:before {
  content: "\ecb0";
}
.glyphicons-server:before {
  content: "\ecb1";
}
.glyphicons-sync-check:before {
  content: "\ecb2";
}
.glyphicons-circle-empty:before {
  content: "\ecb3";
}
.glyphicons-inbox:before {
  content: "\ecb4";
}
.glyphicons-fingerprint-lock:before {
  content: "\ecb5";
}
.glyphicons-folder-open:before {
  content: "\ecb6";
}
.glyphicons-adjust:before {
  content: "\ecb7";
}
.glyphicons-wallet:before {
  content: "\ecb8";
}
.glyphicons-shirt:before {
  content: "\ecb9";
}
.glyphicons-multifunction-printer:before {
  content: "\ecba";
}
.glyphicons-subtitles:before {
  content: "\ecbb";
}
.glyphicons-save:before {
  content: "\ecbc";
}
.glyphicons-flash-automatic:before {
  content: "\ecbd";
}
.glyphicons-heating:before {
  content: "\ecbe";
}
.glyphicons-subtitles-plus:before {
  content: "\ecbf";
}
.glyphicons-notebook:before {
  content: "\ecc0";
}
.glyphicons-bug:before {
  content: "\ecc1";
}
.glyphicons-golf-green:before {
  content: "\ecc2";
}
.glyphicons-webcam:before {
  content: "\ecc3";
}
.glyphicons-cogwheel:before {
  content: "\ecc4";
}
.glyphicons-id-badge-lanyard:before {
  content: "\ecc5";
}
.glyphicons-temperature-alert:before {
  content: "\ecc6";
}
.glyphicons-self-winding-cord:before {
  content: "\ecc7";
}
.glyphicons-court-gavel:before {
  content: "\ecc8";
}
.glyphicons-computer-all-in-one:before {
  content: "\ecc9";
}
.glyphicons-mc:before {
  content: "\ecca";
}
.glyphicons-hand-like:before {
  content: "\eccb";
}
.glyphicons-fingerprint:before {
  content: "\eccc";
}
.glyphicons-fins:before {
  content: "\eccd";
}
.glyphicons-power:before {
  content: "\ecce";
}
.glyphicons-volume-off:before {
  content: "\eccf";
}
.glyphicons-feather:before {
  content: "\ecd0";
}
.glyphicons-font:before {
  content: "\ecd1";
}
.glyphicons-user-worker:before {
  content: "\ecd2";
}
.glyphicons-scissors-horizontal:before {
  content: "\ecd3";
}
.glyphicons-video-off:before {
  content: "\ecd4";
}
.glyphicons-hand-pointing-left:before {
  content: "\ecd5";
}
.glyphicons-chevron-last-right:before {
  content: "\ecd6";
}
.glyphicons-times:before {
  content: "\ecd7";
}
.glyphicons-golf:before {
  content: "\ecd8";
}
.glyphicons-volume-bluetooth:before {
  content: "\ecd9";
}
.glyphicons-eye-off:before {
  content: "\ecda";
}
.glyphicons-road:before {
  content: "\ecdb";
}
.glyphicons-align-right:before {
  content: "\ecdc";
}
.glyphicons-circle-empty-question:before {
  content: "\ecdd";
}
.glyphicons-send:before {
  content: "\ecde";
}
.glyphicons-header:before {
  content: "\ecdf";
}
.glyphicons-grater:before {
  content: "\ece0";
}
.glyphicons-envelope:before {
  content: "\ece1";
}
.glyphicons-three-dimensional-full:before {
  content: "\ece2";
}
.glyphicons-graphic-tablet:before {
  content: "\ece3";
}
.glyphicons-vr:before {
  content: "\ece4";
}
.glyphicons-square-empty-info:before {
  content: "\ece5";
}
.glyphicons-send-to-back:before {
  content: "\ece6";
}
.glyphicons-sort:before {
  content: "\ece7";
}
.glyphicons-wrench:before {
  content: "\ece8";
}
.glyphicons-scale-kitchen:before {
  content: "\ece9";
}
.glyphicons-lock:before {
  content: "\ecea";
}
.glyphicons-phone-horizontal:before {
  content: "\eceb";
}
.glyphicons-text:before {
  content: "\ecec";
}
.glyphicons-square-empty:before {
  content: "\eced";
}
.glyphicons-star-half:before {
  content: "\ecee";
}
.glyphicons-projector:before {
  content: "\ecef";
}
.glyphicons-square-selected:before {
  content: "\ecf0";
}
.glyphicons-book-library:before {
  content: "\ecf1";
}
.glyphicons-circle-empty-plus:before {
  content: "\ecf2";
}
.glyphicons-coffee-mug:before {
  content: "\ecf3";
}
.glyphicons-meat:before {
  content: "\ecf4";
}
.glyphicons-code:before {
  content: "\ecf5";
}
.glyphicons-square-upload:before {
  content: "\ecf6";
}
.glyphicons-binoculars:before {
  content: "\ecf7";
}
.glyphicons-import:before {
  content: "\ecf8";
}
.glyphicons-picture:before {
  content: "\ecf9";
}
.glyphicons-step-back:before {
  content: "\ecfa";
}
.glyphicons-certificate:before {
  content: "\ecfb";
}
.glyphicons-shoes-off:before {
  content: "\ecfc";
}
.glyphicons-audio-description:before {
  content: "\ecfd";
}
.glyphicons-star-empty:before {
  content: "\ecfe";
}
.glyphicons-stats-bars:before {
  content: "\ecff";
}
.glyphicons-pool:before {
  content: "\ed00";
}
.glyphicons-chat-message:before {
  content: "\ed01";
}
.glyphicons-watch:before {
  content: "\ed02";
}
.glyphicons-apple:before {
  content: "\ed03";
}
.glyphicons-folder-alert:before {
  content: "\ed04";
}
.glyphicons-sampler:before {
  content: "\ed05";
}
