.login-box-parent {
  z-index: 1300;
}

img.login-large-logo-animate{
  position: absolute;
  z-index: 9999999;
  height: 520px;
  animation:  logoShrink 0.5s forwards;
  animation-delay: 1s;
}

@keyframes logoShrink {
  0% { height: 520px; }
  100% { height: 108px; }
}

.login-fade-in {
  opacity: 0;
  animation:  loginFadeIn 0.7s forwards;
  animation-delay: 1s;
}

@keyframes loginFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.login-animation-overlay {
  background-color: #000;
  opacity: 0.77;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.login-animation-parent {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  transition: 1s opacity;
}

.login-animation-parent img {
  width: 100%;
  height: 100%;
}

.login-box-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.login-box img.login-logo {
  margin-bottom: 20px;
}

.login-box form {
  display: block;
  position: relative;
  width: 400px;
  transition: .25s;
}

.login-box form input {
  margin-bottom: 15px;
  outline: none;
  border: none;
  width: 100%;
  display: block;
  position: relative;
}

.login-box form input[type="text"],
.login-box form input[type="password"] {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  padding: 13px 25px;
  background-color: rgba(180, 184, 214, 0.08);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px rgba(0, 0, 0, 0.04), 0 1px 0 rgba(0, 0, 0, 0.04);
}

.login-box form input[type="submit"], .sso-login-btn {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  padding: 13px 25px;

  text-transform: uppercase;
  margin-top: 30px;
}

.login-box form input[type="submit"].warn {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: wiggle;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes wiggle {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-20px); }
  50%  { transform: translateX(20px); }
  75%  { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}

.login-box form input[type="submit"]:active {
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  border: none !important;
}


.login-box form label {
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.14);
  margin-bottom: 10px;
  display: block;
  position: relative;
  margin-left: 25px;
}

.login-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sso-box {
  display: flex;
  margin-top: 21px;
  margin-bottom: 15px;
}

.sso-login-btn {
  align-self: center;
  margin: 0;
  margin-top: 9px;
  display: flex;
  align-items: center;
  max-height: 42px;
  width: 100%;
  justify-content: center;
}

.sso-login-btn .glyphicons {
  font-size: 24px;
  margin-right: 11px;
}

.sso-provider-logo {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.login-divider {
  position: relative;
}

.login-divider .bar {
  position: absolute;
  background: #9ca0b1;
}

.login-or {
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  border: 2px solid #9ca0b1;
  text-align: center;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 30px;
  color: #b8bbc8;
}

div.more {
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 20px;
  width: 400px;
  text-align: center;
  font-size: 0.9em;
}

.signup-container {
  max-width: 400px
}

.signup-box {
  text-align: center;
}

.signup-link {
  height: 40px;
  line-height: 40px;
  display: block;
  cursor: pointer;
  color: #fff;
  opacity: .4;
  transition: all .5s ease-in-out;
}

.signup-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.login-toggle-container a {
  color:#fff;
}


@media only screen and (min-width: 690px) {
  .login-divider {
    width: 0%;
    margin-right: 50px;
  }

  .login-divider .bar {
    width: 2px;
    height: calc((100% - 46px)/2);
    left: -1px;
  }

  .login-divider .bar-top {
    top: 0;
  }

  .login-divider .bar-bottom {
    bottom: 0;
  }

  .login-or {
    top: calc((100% - 46px)/2);
    left: -23px;
  }
}

@media only screen and (max-width: 690px) {
  .login-divider {
    height: 0%;
  }

  .login-divider .bar {
    height: 2px;
    width: calc((100% - 46px)/2);
    top: -1px;
  }

  .login-divider .bar-top {
    left: 0;
  }

  .login-divider .bar-bottom {
    right: 0;
  }

  .login-or {
    left: calc((100% - 46px)/2);
    top: -23px;

  }
}
@media only screen and (min-width: 690px) and (max-width: 825px) {
  .login-box form {
    width: 250px;
  }
}




/***********************************/
/*    Mobile Device Rules          */
/*    For landscape orientation    */
/***********************************/

@media (max-width: 812px) and (orientation: landscape) {
  img.login-large-logo-animate{
    height: 280px;
    animation: logoShrink-med-to-zero 0.2s forwards;
    animation-delay: 1s;
    top: calc(50% - 140px);
    left: calc(50% - 140px);
  }
  .login-box img.login-logo {
    margin: 8px;
    width: 360px;
    transform: translate(30px, 10px);
  }
}

@media (max-width: 690px) and (orientation: landscape) {
  img.login-large-logo-animate{
    height: 200px;
    animation:  logoShrink-med 0.5s forwards;
    animation-delay: 1s;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }

  .login-box img.login-logo {
    margin: 8px;
    width: 240px;
    transform: translate(30px, 10px);
    position: fixed;
    top: 168px;
    left: -48px;
  }

  .login-box form {
    width: 280px;
    margin: 0 auto;
  }

  .login-divider {
    display: none;
  }

  .login-actions {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px 30px;
  }

  .sso-login-btn {
    width: 100%;
    justify-content: center;
  }

  .sso-box {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: stretch;
  }
}

@keyframes logoShrink-med {
  100% { height: 108px; top: 64px; left: 80px; }
}

@keyframes logoShrink-med-to-zero {
  100% { height: 108px; top: initial; left: initial; }
}

/***********************************/
/*    Mobile Device Rules          */
/*    For portrait orientation     */
/***********************************/

@media (max-width: 690px) and (orientation: portrait) {
  img.login-large-logo-animate{
    position: static;
    top: calc(50% - 120px);
    height: 240px;
    animation:  logoShrink-small 0.5s forwards;
    animation-delay: 1s;
    transform: translateY(50%) translateY(100px);
  }

  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .login-box img.login-logo {
    margin: 8px;
    width: 240px;
    transform: translateX(-30px);
  }

  .login-actions {
    display: block;
  }
  .sso-box {
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  .login-divider {
    margin: 50px 0;
  }
  .login-box form input {
    width: 100%;
  }
  .login-box form {
    width: 280px;
    margin: 0 auto;
  }
  .login-toggle-container {
    margin-top: 16px;
  }
}

@keyframes logoShrink-small {
  100% { height: 80px; transform: translateY(0); }
}
